## Introduction:
This code is the part of UCW (Understanding Climate and Weather at local scale) project for BSc Environmental Science Program (ENSC304) at the Royal Roads University, Victoria, British Columbia, Canada. As a lecturer of the course, I have developed this code to analyze climate data and understand how the climate variables are evolving over time across British Columbia. The overall objective of this project is to quantify the amount of changes in temperature and rainfall at local level relative to the continental (i.e., North America) and/or global change.

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

#### **Load Dataset**
1) load data from GitHub
2) load data from local compouter

In [7]:
#1)load data from GitHub:
url = 'https://raw.githubusercontent.com/mbexhrs3/UCW-Project/master/Vancouver_International_Airport_for_Python.csv'
data = pd.read_csv(url)
uploaded = files.upload()

Saving Vancouver_International_Airport_for_Python.csv to Vancouver_International_Airport_for_Python.csv

In [6]:
#2) load data from local computer:
# from google.colab import files

In [10]:
#load data from local computer
# import io
# data = pd.read_csv(io.BytesIO(uploaded['Vancouver_International_Airport_for_Python.csv']))

#### **Quick Review of Data Quality**

In [4]:
data.head()

   Longitude (x)  Latitude (y)  ... Spd of Max Gust (km/h)  Spd of Max Gust Flag
0        -123.18          49.2  ...                    NaN                   NaN
1        -123.18          49.2  ...                    NaN                   NaN
2        -123.18          49.2  ...                    NaN                   NaN
3        -123.18          49.2  ...                    NaN                   NaN
4        -123.18          49.2  ...                    NaN                   NaN

[5 rows x 29 columns]

In [5]:
data.describe()

       Longitude (x)  ...  Spd of Max Gust (km/h)
count   9.180000e+02  ...              674.000000
mean   -1.231800e+02  ...               61.519288
std     2.786846e-12  ...               15.050201
min    -1.231800e+02  ...               33.000000
25%    -1.231800e+02  ...               51.000000
50%    -1.231800e+02  ...               59.000000
75%    -1.231800e+02  ...               70.000000
max    -1.231800e+02  ...              129.000000

[8 rows x 16 columns]

In [ ]:
data.isnull().sum() #checking missing values

#### **Select Features**

In [ ]:
features = ['Longitude (x)', 'Latitude (y)', 'Year','Month','Mean Temp (°C)','Total Rain (mm)']

In [ ]:
df = data[features]

In [ ]:
df.head()

In [ ]:
df.rename(columns={'Longitude (x)':'lon', 'Latitude (y)':'lat', 'Mean Temp (°C)':'Mean_Temp','Total Rain (mm)':'Total_Rain'}, inplace=True)

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

#### **Filling Missing Values**

In [ ]:
df['Mean_Temp'].median()

In [ ]:
df['Total_Rain'].median()

In [ ]:
df['Total_Rain'].fillna(df['Total_Rain'].median(),inplace=True)

In [ ]:
df['Mean_Temp'].fillna(df['Mean_Temp'].median(),inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

In [ ]:
df.Year

In [ ]:
2013-1937+1 #Number of years data

In [ ]:
df[df['Year']==2012] # A full-year data

In [ ]:
df[df['Year']==2013] # 2013 does not have full-year data

In [ ]:
df = df.iloc[:912] # remove incomplete data i.e. 2013 has only 6-months data

In [ ]:
df.Year

In [ ]:
df.head()

In [ ]:
#convert pandas date objects to python date objects. 
#This conversion is needed because of matplotlib internal date conversion functions
dates = pd.date_range(start='1937-01', end='2012-12',freq='MS') #MS-month start

In [ ]:
dates

In [ ]:
df['datetime'] = [pd.to_datetime(date, format='%y%m').date() for date in dates]

In [ ]:
df.head()

In [ ]:
df.tail()

## Data Visualizations

In [ ]:
fig = plt.figure(figsize=(15,4))
ax = fig.add_subplot(111)
ax.plot(df['datetime'],df['Mean_Temp'],marker='.',markersize=5,color='b',linestyle='None')

loc = mdates.YearLocator(5)
ax.xaxis.set_major_locator(loc)
fmt = mdates.DateFormatter('%Y')
ax.xaxis.set_major_formatter(fmt)

plt.xlabel('Year',fontsize=14)
plt.ylabel('Mean Temperature ($^o$C)',fontsize=14)
plt.title('Quick View: Temperature at Vancouver Internatinal Airport',fontsize=18)
plt.axis('tight')
plt.show()

In [ ]:
x = np.arange(912)
fig = plt.figure(figsize=(15,4))
ax = fig.add_subplot(111)
ax.plot(df['datetime'],df['Total_Rain'],marker='.',markersize=5,color='b',linestyle='None')

loc = mdates.YearLocator(5)
ax.xaxis.set_major_locator(loc)
fmt = mdates.DateFormatter('%Y')
ax.xaxis.set_major_formatter(fmt)
ax.set_ylim([0,350])

plt.xlabel('Year',fontsize=14)
plt.ylabel('Rainfall (mm)',fontsize=14)
plt.title('Quick View: Rainfall at Vancouver Internatinal Airport',fontsize=18)

plt.show()

# Plot Annual and Monthly Profiles:

In [ ]:
months = {
    1:'Jan',
    2:'Feb',
    3:'Mar',
    4:'Apr',
    5:'May',
    6:'Jun',
    7:'Jul',
    8:'Aug',
    9:'Sep',
    10:'Oct',
    11:'Nov',
    12:'Dec'
    
}

#### **1) Temperature**

In [ ]:
year_val = np.linspace(1937,2012,76)
fig,axes = plt.subplots(nrows=4, ncols=3, figsize=(12,10))
axes = axes.flatten()

for i, ax in enumerate(axes):
    monthly_data = df[df['Month']==i+1]
    ax.plot(year_val,monthly_data.Mean_Temp,label=months.get(i+1),color='b',linewidth=0.5)
    window_10yrs = monthly_data['Mean_Temp'].rolling(window=10,center=True,min_periods=10).mean()
    ax.plot(year_val,window_10yrs, color='r',label='Trend(10-yr Mean)')
    ax.legend()
    
axes[0].set_ylabel('Temperature ($^o$C)')
axes[3].set_ylabel('Temperature ($^o$C)')
axes[6].set_ylabel('Temperature ($^o$C)')
axes[9].set_ylabel('Temperature ($^o$C)')


fig.suptitle('Monthly Profile: Mean Temperature',fontsize=25)
    
plt.show()

In [ ]:
year = np.arange(2001,2013)
fig,axes = plt.subplots(nrows=4, ncols=3, figsize=(12,10))
axes = axes.flatten()

for i, ax in enumerate(axes):
    yearly_data = df[df['Year']==year[i]]
    ax.plot(months.values(),yearly_data.Mean_Temp,'bo-',label=year[i])
    ax.set_ylim([0,20])
    ax.set_xticks(list(months.values())[1:12:3])
    ax.legend()  

axes[0].set_ylabel('Temperature ($^o$C)')
axes[3].set_ylabel('Temperature ($^o$C)')
axes[6].set_ylabel('Temperature ($^o$C)')
axes[9].set_ylabel('Temperature ($^o$C)')

fig.suptitle('Annual Profile: Mean Temperature',fontsize=25)
    
plt.show()

#### **2) Total Rainfall**

In [ ]:
year_val = np.linspace(1937,2012,76)
fig,axes = plt.subplots(nrows=4, ncols=3, figsize=(12,10))
axes = axes.flatten()

for i, ax in enumerate(axes):
    monthly_data = df[df['Month']==i+1]
    ax.bar(year_val,monthly_data.Total_Rain,label=months.get(i+1),color='m')
    window_10yrs = monthly_data['Total_Rain'].rolling(window=10,center=True,min_periods=10).mean()
    ax.plot(year_val,window_10yrs, color='b',label='Trend(10-yr Mean)')
    ax.legend()
    
axes[0].set_ylabel('Rainfall (mm)')
axes[3].set_ylabel('Rainfall (mm)')
axes[6].set_ylabel('Rainfall (mm)')
axes[9].set_ylabel('Rainfall (mm)')

fig.suptitle('Monthly Profile: Total Rainfall',fontsize=25)
    
plt.show()

In [ ]:
year = np.arange(2001,2013)
fig,axes = plt.subplots(nrows=4, ncols=3, figsize=(12,10))
axes = axes.flatten()

for i, ax in enumerate(axes):
    yearly_data = df[df['Year']==year[i]]
    ax.bar(months.values(),yearly_data.Total_Rain,label=year[i],color='m')
    ax.set_xticks(list(months.values())[1:12:3])
    ax.legend() 
    
axes[0].set_ylabel('Rainfall (mm)')
axes[3].set_ylabel('Rainfall (mm)')
axes[6].set_ylabel('Rainfall (mm)')
axes[9].set_ylabel('Rainfall (mm)')

fig.suptitle('Annual Profile: Total Rainfall',fontsize=25)
    
plt.show()

## Monthly Mean:

In [ ]:
Monthly_Mean = np.round(df.groupby('Month').mean(),1)
Monthly_Mean

In [ ]:
fig = plt.figure(figsize=(8,6),dpi=100)
ax = fig.add_subplot(111)
ax.plot(months.values(), Monthly_Mean.Mean_Temp,'bo-')
plt.ylabel('Temperature ($^{o}$C)',fontsize=18)
plt.title('Mean Monthly Temperature', fontsize=22)
plt.show()

In [ ]:
fig = plt.figure(figsize=(8,6),dpi=100)
ax = fig.add_subplot(111)
ax.bar(months.values(), Monthly_Mean.Total_Rain)
plt.ylabel('Rainfall (mm)',fontsize=18)
plt.title('Mean Monthly Rainfall', fontsize=22)
plt.show()

# Seasonal Mean:

In [ ]:
#Assign month to season 
month_num_2_season = {
    1:'DJF',
    2:'DJF',
    3:'MAM',
    4:'MAM',
    5:'MAM',
    6:'JJA',
    7:'JJA',
    8:'JJA',
    9:'SON',
    10:'SON',
    11:'SON',
    12:'DJF'
    
}

In [ ]:
month_num_2_season

In [ ]:
# add a new variable to the dataframe
df['season'] = [month_num_2_season.get(i) for i in df.Month]

In [ ]:
# calculate seasonal mean
seasonal_val = np.round(df.groupby('season').mean(),1)
seasonal_val

## Recent Data (2003:2012)

In [ ]:
df_recent = df[792:]
df_recent

In [ ]:
monthly_mean_recent = df_recent.groupby('Month').mean()

In [ ]:
monthly_mean_recent

In [ ]:
diff_mean_temp = monthly_mean_recent.Mean_Temp - Monthly_Mean.Mean_Temp

In [ ]:
fig = plt.figure(figsize=(8,6),dpi=100)
ax = fig.add_subplot(111)
ax.plot(months.values(),diff_mean_temp,'b-')
ax.set_ylabel('Temperature Change ($^o$C)')
ax.set_xlim([0,11])
ax.set_ylim(-0.2,1.3)
ax.plot([0,11],[0,0],'r--')
plt.title('(2012-2003)$_{avg}$ - Historical', fontsize=20)
plt.show()

In [ ]:
diff_Total_Rainfall = monthly_mean_recent.Total_Rain - Monthly_Mean.Total_Rain

In [ ]:
fig = plt.figure(figsize=(8,6),dpi=100)
ax = fig.add_subplot(111)
ax.plot(months.values(),diff_Total_Rainfall,'ob-')
ax.set_ylabel('Rainfall Change (mm)')
ax.set_xlim([0,11])
ax.set_ylim(-35,35)
ax.plot([0,11],[0,0],'r--')
plt.title('(2012-2003)$_{avg}$ - Historical', fontsize=20)
plt.show()

## Recent Seasonal Average Data

In [ ]:
seasonal_recent = np.round(df_recent.groupby('season').mean(),1)
seasonal_recent

In [ ]:
seasons_name = ['DJF','JJA','MAM','SON']
fig = plt.figure(figsize=(8,6),dpi=100)
ax = fig.add_subplot(111)
width=0.3
ax.bar(seasons_name,seasonal_recent.Mean_Temp,label='Recent')
ax.bar(seasons_name,seasonal_val.Mean_Temp,width,label='Historical')
ax.legend()
plt.show()

## 30 years data (1951:1980)

In [ ]:
df[df['Year']==1980] # df[168:528]

In [ ]:
df_30yrs = df[168:528] # climate data from 1951-1980

In [ ]:
df_30yrs_Mean_Temp = np.round(df_30yrs.groupby('Year').mean().mean().Mean_Temp,2)
df_30yrs_Mean_Temp

In [ ]:
Tdiff = df.groupby('Year').mean().Mean_Temp - df_30yrs_Mean_Temp

In [ ]:
fig = plt.figure(figsize=(10,5),dpi=150)
ax = fig.add_subplot(111)
ax.bar(year_val,Tdiff,color='b',label='Annual average change')
ax.set_ylabel('Temperature Change ($^o$C)')
ax.set_xlim([1935,2014])
ax.plot(Tdiff.rolling(window=5,min_periods=5,center=True).mean(),label= '5-yr moving average change',color='r',linewidth=2)
ax.plot([0,2014],[0,0],color='b',linewidth=1)
ax.set_ylim([-2,2])


plt.title('Temperature Change: Vancouver International Airport', fontsize=20)
plt.legend()
plt.show()